.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  padding: 40px;
}

.log-in{
	background-color: #ccc;
	border: 2px solid #999;
	border-radius: 2%;
	padding: 15px;
}

.login hr{
	border-top: 2px solid #999;
	margin-top: 0px;
}